<center>
  <h1>All Restaurants</h1>
  <p><%= link_to "New Restaurant", new_restaurant_path %></p>
  <hr>
  <% @restaurants.each do |restaurant| %>
    <ul style="list-style-type: none;">
      <li><%= link_to restaurant.name, restaurant_path(restaurant)  %></li>
      <li><%= restaurant.address  %></li>
      <li> <%= restaurant.category  %></li>
      <li><%= restaurant.phone_number  %> </li>
    </ul>
    <hr>
  <% end %>
</center>
